.container {
  background: red;
  height: 400px;
  margin: 32px auto;
  width: 90%;
}
.grid-caja {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat()
}

.mesa-corta {
  width: 220px;
  height: 160px;
  background-image: url("../../assets/img/mesa.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  margin: 15px;
  border: 2px solid #574a35;
  border-radius: 10px;
}
